@import 'src/styles';

.company-svg-container {
    @include flex(row, nowrap, center, center);
    width: 40px;
    margin-right: 1rem;
}

h1 {
    font-size: 1.7rem;
}

.mat-toolbar-row {
    justify-content: center;
}