<h3 mat-dialog-title>Forgot Password</h3>
<mat-dialog-content>
    <p>Forgot your password? Don't worry! Fill your email below in order to request for a new one.</p>
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" autocomplete="off" [(ngModel)]="data.email" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data.email" cdkFocusInitial color="primary">Request</button>
</mat-dialog-actions>