@import 'src/styles';

:host {
    width: 100%;
    padding: 2rem;
}

.employees-page {
    height: 100%;
}

h2, p {
    color: white;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    a {
        color: #69F0AE;
    }
}

.add-employee {
    margin-bottom: 1rem;
    transition: .4s ease-in-out;
    &:hover {
        width: 150px;
        border-radius: 100px;
    }
}

.employees-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}