<section class="brand-container" appShowCustomizeBtn>
    <picture>
        <source type="image/webp" src="assets/images/employees_page_default.webp" />
        <img src="assets/images/employees_page_default.jpg" class="default-img" />
    </picture>
    <button mat-raised-button color="accent" role="link" class="customize-brand" 
    matTooltip="Add company's logo and name" matTooltipPosition="below" [matTooltipClass]="['tooltip']">
        Customize
    </button>
</section>
<section class="employees-page animate__animated animate__backInDown">
    <h2>EMPLOYEES</h2>
    <p>
        If you want to customize your profile click 
        <a href="">here</a>
    </p>
    <section class="employees-page-action-btns">
        <button mat-mini-fab color="accent" class="add-employee-btn" (click)="addEmployee()" appShowAddEmployeeBtnText>
            <mat-icon>add</mat-icon>
            <span class="add-employee-btn-text">Add Employee</span>
        </button>
        <button mat-stroked-button color="accent" role="link" class="company-details-btn">
            Company Details
        </button>
    </section>
    <section class="employees-container">
        <ng-container *ngFor="let employee of employees">
            <app-employee [employee]="employee"></app-employee>
        </ng-container>
    </section>
</section>