@import 'src/styles';

:host {
    width: 100%;
    height: 100%;
}

.brand-container {
    position: relative;
    width: 100%;
    height: 230px;
    cursor: pointer;
    .default-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.company-details {
    @include flex(column, nowrap, center, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    h3 {
        font-size: 3rem;
        color: #69F0AE;
    }
    p {
        font-size: 1.2rem;
        font-style: italic;
    }
}

.company-logo-btn {
    margin-bottom: 1.5rem;
}

.company-logo-container {
    width: 80px;
    height: 80px;
    margin-bottom: 1.5rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.employees-page {
    padding: 2rem;
}

h2, p {
    color: white;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    a {
        color: #69F0AE;
    }
}

.add-employee-btn {
    margin-bottom: 1rem;
    transition: .4s ease-in-out;
    &.increase-width {
        width: 150px;
        border-radius: 100px;
    }
    .add-employee-btn-text {
        display: none;
        &.show {
            display: inline-block;
        }
    }
}

.company-details-btn {
    margin-left: 0.5rem;
}

.no-employees {
    font-size: 1.8rem;
    text-align: center;
}

.employees-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}