<mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened class="sidenav">
        <nav>
            <ul>
                <li>
                    <a href="" routerLinkActive="active">
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="" routerLinkActive="active">
                        <mat-icon>people</mat-icon>
                        <span>Employees</span>
                    </a>
                </li>
                <li>
                    <a href="" routerLinkActive="active">
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="" routerLinkActive="active">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </mat-sidenav>
</mat-sidenav-container>