.sidenav-container {
    width: 100px;
    height: 100%;
}

.sidenav, mat-menu {
    width: 100%;
}

nav {
    padding-top: 1.4rem;
}

ul {
    padding: 0;
    li {
        width: 100%;
        a {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem 0;
            color: #69F0AE;
            cursor: pointer;
            transition: .4s ease-in-out;
            mat-icon {
                margin-bottom: 0.2rem;
            }
            &:hover, &.active {
                color: black;
                background: #69F0AE;
            }
        }
    }
}