<h3 mat-dialog-title>Add {{ type }}</h3>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>{{ type }}</mat-label>
        <input matInput type="text" [(ngModel)]="data[data.type]" autocomplete="off"/>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">
        Cancel
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data[data.type]"
    [disabled]="data[data.type] === ''" [style.cursor]="data[data.type] === '' ? 'no-drop' : 'pointer'">
        Add
    </button>
</mat-dialog-actions>