@import 'src/styles';

:host {
    width: 100%;
    padding: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

mat-icon {
    cursor: pointer;
}

.fields-wrapper {
    @include flex(row, nowrap, flex-start, center);
    mat-form-field {
        &:last-of-type {
            margin-left: 0.5rem;
        }
    }
}

.textarea-field {
    height: 100px;
}

mat-expansion-panel {
    margin-bottom: 1rem;
}

.add-service,
.add-project {
    @include flex(row, nowrap, space-between, center);
    padding: 0.5rem;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 4px;
}

:host ::ng-deep .mat-expansion-indicator {
    margin-right: 1rem;
}

:host ::ng-deep .mat-list-base {
    padding-top: 0 !important;
}

.mat-list-item:not(:last-of-type) {
    border-bottom: 1px solid #69F0AE;
}

:host ::ng-deep .mat-list-item-content {
    @include flex(row, nowrap, space-between, center);
    width: 100%;
    padding: 0 8px !important;
    color: white;
}

.action-btns {
    @include flex(row, nowrap, flex-end, center);
    .submit-btn {
        margin-left: 0.5rem;
    }
}