<section class="company-profile-page animate__animated animate__backInDown">
    <h2>COMPANY PROFILE</h2>
        <div class="fields-wrapper">
            <mat-form-field appearance="fill">
                <mat-label>Brand Name</mat-label>
                <input matInput type="text" [(ngModel)]="name" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Founder</mat-label>
                <input matInput type="text" [(ngModel)]="founder" autocomplete="off" required>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput class="textarea-field" [(ngModel)]="description" required></textarea>
        </mat-form-field>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Services ({{ services?.length }})
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="add-service">
                <span>Add service</span>
                <mat-icon (click)="onAdd('service')" matTooltip="Add Service" 
                matTooltipPosition="below" [matTooltipClass]="['tooltip']">
                    add
                </mat-icon>
            </section>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let service of services; let i = index">
                    <span>{{ service }}</span>
                    <mat-icon matTooltip="Delete Service" matTooltipPosition="below" 
                    [matTooltipClass]="['tooltip']" (click)="onDelete('service', i)">
                        delete
                    </mat-icon>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projects ({{ projects?.length }})
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="add-project">
                <span>Add project</span>
                <mat-icon (click)="onAdd('project')" matTooltip="Add Project" 
                matTooltipPosition="below" [matTooltipClass]="['tooltip']">
                    add
                </mat-icon>
            </section>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let project of projects; let i = index">
                    <span>{{ project }}</span>
                    <mat-icon matTooltip="Delete Project" matTooltipPosition="below" 
                    [matTooltipClass]="['tooltip']" (click)="onDelete('project', i)">
                        delete
                    </mat-icon>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>  
        <section class="action-btns">
            <button mat-stroked-button color="accent" (click)="clearFields()">Clear</button>
            <button mat-raised-button class="submit-btn" color="primary" (click)="onSubmit()">
                {{ companyActionButton }}
            </button>
        </section>
</section>