@import 'src/styles';

h3 {
    font-size: 1.2rem;
    text-align: center;
}

p > span:first-of-type,
.services > span,
.projects > span {
    color: #69F0AE;
}

p > span:last-of-type {
    margin-left: 0.5rem;
}

li {
    margin-bottom: 0.3rem;
}