<h3 mat-dialog-title>Company Details ({{ company?.name }})</h3>
<mat-dialog-content class="mat-typography">
    <p>
        <span>Founder:</span>
        <span>{{ company?.founder }}</span>
    </p>
    <p>
        <span>Description:</span>
        <span>{{ company?.description }}</span>
    </p>
    <section class="services">
        <span>Services</span>
        <ul>
            <li *ngIf="company?.services?.length === 0">No services added yet</li>
            <li *ngFor="let service of company?.services">{{ service }}</li>
        </ul>
    </section>
    <section class="projects">
        <span>Projects</span>
        <ul>
            <li *ngIf="company?.projects?.length === 0">No projects added yet</li>
            <li *ngFor="let project of company?.projects">{{ project }}</li>
        </ul>
    </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">Ok</button>
</mat-dialog-actions>