<mat-card>
    <mat-card-title>
        <h3>{{ employee.firstName }} {{ employee.lastName }}</h3>
    </mat-card-title>
    <mat-card-subtitle>{{ employee.speciality }} Developer ({{ employee.contractType }})</mat-card-subtitle>
    <mat-card-content>
        <section class="technologies-container">
            <mat-chip-list>
                <mat-chip *ngFor="let tech of employee.technologies" class="tech-chip">
                    <img src="assets/images/{{ tech | removeSpaces }}_logo.png" alt="{{ tech }} logo">
                    <span>{{ tech }}</span>
                </mat-chip>
            </mat-chip-list>
        </section>
        <section class="projects-container">
            <span class="projects">Projects:</span>
            <section class="projects-list">
                <mat-list role="list" *ngFor="let project of employee.projects">
                    <mat-list-item role="listitem">{{ project }}</mat-list-item>
                </mat-list>
            </section>
        </section>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button color="warn" (click)="onDelete(employee.id)">Delete</button>
      <button mat-raised-button color="primary" (click)="openEdit(employee)">Edit</button>
    </mat-card-actions>
</mat-card>