@import 'src/styles';

.mat-card-title {
    @include flex(row, nowrap, flex-start, center);
    margin-bottom: 0.2rem;
    color: #69F0AE;
    h3 {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
    }
}

.mat-card-subtitle {
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgb(160, 160, 160);
    &:not(:first-child) {
        margin-top: 0;
    }
}

.mat-card-content, 
.technologies-container {
    margin-bottom: 10px;
}

.tech-chip > img {
    margin-right: 0.3rem;
}

::ng-deep .mat-chip-list-wrapper {
    display: inline-flex !important;
    margin: 0 !important;
}

.mat-card-actions {
    padding: 0;
}