@import 'src/styles';

.mat-card-title {
    @include flex(row, nowrap, flex-start, center);
    margin-bottom: 0.2rem;
    color: #69F0AE;
    h3 {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    span {
        font-size: 1rem;
        margin-left: 0.3rem;
    }
}

.mat-card-subtitle {
    margin-bottom: 0.8rem;
    &:not(:first-child) {
        margin-top: 0;
    }
}

.mat-card-content {
    margin-bottom: 10px;
    span {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }
}

::ng-deep .mat-chip-list-wrapper {
    display: inline-flex !important;
    margin: 4px 4px 0 0 !important;
}

.mat-card-actions {
    padding: 0;
}