@import 'src/styles';

.mat-card-title {
    @include flex(row, nowrap, flex-start, center);
    margin-bottom: 0.2rem;
    color: #69F0AE;
    h3 {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
    }
}

.mat-card-subtitle {
    margin-bottom: 0.5rem;
    &:not(:first-child) {
        margin-top: 0;
    }
}

.mat-card-content {
    margin-bottom: 10px;
}

.projects {
    font-size: 1rem;
    margin-right: 0.5rem;
}

::ng-deep .mat-chip-list-wrapper {
    display: inline-flex !important;
    margin: 4px 4px 0 0 !important;
}

.mat-card-actions {
    padding: 0;
}