<section class="auth-page animate__animated animate__backInDown">
    <h2>LOGIN</h2>
    <p>(login with your email and password in order to continue)</p>
    <form [formGroup]="loginForm" class="auth-form">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="email?.invalid">{{ emailErrorMessage }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="password?.invalid">Password must contain at least 10 characters</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" role="link">
            <span>Login</span>
            <mat-icon>input</mat-icon>
        </button>
    </form>
    <button mat-button color="accent" class="password-forgot-btn" role="link"
    (click)="openForgotPasswordDialog()">
        Forgot your password?
    </button>
    <div class="sign-up">
        <p>If you don't have an account then</p>
        <button mat-button color="accent" role="link" (click)="router.navigate(['/auth/sign-up'])">Sign Up</button>
    </div>
</section>