@import 'src/styles';

.login-page {
    @include flex(column, nowrap, center, center);
    padding: 2rem 0;
}

h2, p, form, 
.mat-form-field {
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    color: white;
    letter-spacing: 0.1rem;
}

p {
    font-size: 0.9rem;
    color: white;
}

form {
    @include flex(column, nowrap, unset, unset);
    width: 400px;   
    button {
        @include flex(row, nowrap, center, center);
        span {
            font-size: 1rem;
        }
        mat-icon {
            margin-left: 0.5rem;
        }
    }
}

.password-forgot-btn {
    margin-bottom: 0.5rem;
}

.sign-up {
    @include flex(row, nowrap, center, center);
    p {
        margin-bottom: 0;
    }
    button {
        margin-left: 0.5rem;
    }
}