<h3 mat-dialog-title>Upload Company Logo</h3>
<mat-dialog-content>
    <section class="upload-field-container">
        <input type="file" />
        <button mat-mini-fab color="primary" aria-label="upload company logo"
        matTooltip="Upload Logo" matTooltipPosition="below" [matTooltipClass]="['tooltip']">
        <mat-icon>cloud_upload</mat-icon>
    </button>
    </section>
    <section class="progress-bar-container">
        <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
        <span>Progress: </span>
    </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>